.products {
  &.elementor-grid {
    li.product {
      display: flex !important;
      flex-wrap: wrap;

      a.woocommerce-loop-product__link,
      a.add_to_cart_button {
        flex: 0 0 100%;
      }

      a.add_to_cart_button {
        order: 2;
        margin: 0;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .wvs-archive-variations-wrapper {
        order: 1;

        .variations {
          .wvs_archive_reset_variations {
            display: none;
          }
        }
      }
    }
  }
}
